/* media starts */

@media (max-width:991px) {
    header {
        padding: 20px 0
    }
    header .container {
        max-width: 100%
    }
    header a.logo {
        font-size: 22px;
        line-height: 26px
    }
    header ul li {
        margin: 0 3px
    }
    header ul li:last-child {
        margin-right: 0
    }
    header ul li a {
        padding: 8px 12px;
        font-size: 13px;
        line-height: 13px
    }
    main {
        padding: 69px 0 0;
    }
    h2.title-content {
        font-size: 28px
    }
    .trainers-listing {
        padding: 40px 0
    }
    .trainers-listing .row>div {
        margin-bottom: 30px
    }
    .trainers-listing h2 {
        margin-bottom: 50px
    }
    .trainers-outer li {
        width: 50%;
        margin-bottom: 30px;
    }
    .trainer-card {
        min-height: 350px;
    }
}

@media (max-width:767px) {
    .header-content .logo {
        width: 30.667%;
    }
    .carousel-content {
        width: 100%;
    }
    .header-content .menu-bar {
        width: 100%;
    }
    .hamburger {
        display: block;
    }
    header ul li {
        display: block;
        text-align: center;
        margin: 15px 0
    }
    header ul li a {
        font-size: 20px;
        line-height: 24px;
        padding: 8px 20px
    }
    header .menu-bar {
        position: fixed;
        right: -100%;
        right: 0;
        width: 100%;
        background: #202020;
        top: 65px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        min-height: calc(100vh - 70px);
        bottom: 0;
        justify-content: center;
        overflow-y: auto;
        padding: 40px 0;
        opacity: 0;
        visibility: hidden;
        transform: scale(0.5);
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
    }
    header .menu-bar ul {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .open-menu header .menu-bar {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }
    body.open-menu {
        overflow: hidden
    }
    main {
        padding-top: 64px;
    }
    .next-btn {
        top: auto;
        bottom: 20px;
        right: calc(50% - 60px);
        transform: none
    }
    .prev-btn {
        top: auto;
        bottom: 20px;
        left: calc(50% - 60px);
        transform: none
    }
    h2.title-content {
        font-size: 24px
    }
    .banner-section li {
        min-height: 300px;
        height: auto!important
    }
    .trainers_listing h2 {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 24px
    }
    .trainer-card .basic-info {
        padding: 15px 17px
    }
    .trainer-card .trainer-info {
        padding: 25px 20px
    }
}

@media(max-width:480px) {
    .trainers-outer li {
        width: 100%;
    }
}

@media (max-width:374px) {
    header ul li {
        margin: 10px 0
    }
}